*_build.counter
*build_info.h
*~
*.kdev4
*.pyc
.cproject
.project
*.o
*/debug
*/release
*/build
build
.tup
*.kch
autom4te.cache
*.deps
CMakeFiles
CMakeCache.txt
*.kate-swp
*build_info.h
config.h
docs
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.kdev*
build
